extends base

block content
    main.main
        .landing
            .content
                .text
                    h1 A different kind of taxi 
                        span.head-1   company
                        br
                        span A different kind of
                        span.head-2  taxi                        
                    p We are here to change the way you travel. 
                        br
                        | Providing our users the best experience they've got till now.
                        br
                        | Introducing QuickTaxi, get exciting rewards  and more everytime you book a ride.    
     
                    a(href='/home')
                        button.btn--signup Let's ride
                .quick
                    img.img-landing(src="/img/landing-page.jpg" )


