extends base

block content
    main.main
        .row
            .column
                a.link-card(href="/login-with-mobile")
                    .card ..
                        h1#text-head Login with OTP
            .column  
                .card#crd-img      
                    img#setting-img(src="/img/set.png", alt="logo-quicktaxi")
            a.link-card(href="/login-with-email")                
                .column#card-Email-pass
                    .card ..
                        h1#text-head Login with Email and password
