extends baseEmail

block content
    p Hi #{firstName},
    p Forgot password?Submit your token, password and confirm Password to http://127.0.0.1:8000/api/v1/reset-password.
    p Your token : #{url} .Please donot share this with anyone.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset password
    p if this token is not requested by you, Then please please ignore this email!


